Shoutbox.NET/Connected Services/SSTMonitorService/SSTMonitorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SSTMonitorService/SSTMonitorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SSTMonitorService" />
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SSTMonitorService" minOccurs="0" name="GetStatusResult" type="q1:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>